# -------------------------
# C/C++ Source Files
# -------------------------
*.c
*.h
*.cpp
*.hpp

# -------------------------
# Compiled Object Files
# -------------------------
*.o
*.obj

# -------------------------
# Executables
# -------------------------
*.exe
*.out
a.out

# -------------------------
# Debugging Files
# -------------------------
*.dSYM/
*.pdb
*.ilk
*.idb

# -------------------------
# Build Folders
# -------------------------
/build/
/bin/
/Debug/
/Release/

# -------------------------
# Temporary/Backup Files
# -------------------------
*~
*.swp
*.tmp
*.log

compile_commands.json
