# -------------------------
# Compiled Object Files
# -------------------------
*.o
*.obj

# -------------------------
# Executables
# -------------------------
*.exe
*.out
*.out

# -------------------------
# Debugging Files
# -------------------------
*.dSYM/
*.pdb
*.ilk
*.idb

# -------------------------
# Build Folders
# -------------------------
/build/
/bin/
/Debug/
/Release/

# -------------------------
# Temporary/Backup Files
# -------------------------
*~
*.swp
*.tmp
*.log

.cache/
compile_commands.json
run_test
